@model BookManagerAppMVC.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>図書登録</h1>

<h4>新しく本を登録します</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="col-form-label col-sm-2">書籍名</label>
                <div class="col-sm-5">
                <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Author" class="control-label col-sm-2">著者</label>
                <div class="col-sm-5">
                    <input asp-for="Author" class="form-control" />
                </div>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Publisher" class="control-label col-sm-2">出版社</label>
                <div class="col-sm-5">
                    <input asp-for="Publisher" class="form-control" />
                </div>
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>